*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.jpg
*.gif
*.png
*.csproj

.project
.classpath
.settings
/bin
PixelSorterWPF/PixelSorterWPF/bin
PixelSorterWPF/PixelSorterWPF/obj

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
